/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do body */
body {
  font-family: Arial, sans-serif;
  overflow: hidden; /* Remove barras de rolagem extras */
}

/* Estilo da barra de navegação */
header {
  width: 100%;
  background-color: rgba(3, 178, 209, 0.6);
  position: fixed; /* Navegação fixa no topo */
  top: 0;
  left: 0;
  z-index: 1000; /* Sempre no topo */
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Sombra na navbar */
  transition: box-shadow 0.1s ease-in-out; /* Transição suave da sombra */
}

header:hover {
  background-color: rgba(3, 178, 209, 0.8);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

/* Usando Flexbox para organizar o título à esquerda e os links à direita */
.navbar {
  display: flex;
  justify-content: space-between; /* Espaça o título e os itens da nav */
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.navbar-title {
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

.navbar-title a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.navbar-title a:hover {
  color: #ffcc00;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffcc00;
}

/* Estilo do ícone hamburger */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Configuração para o scroll snap */
.scroll-container {
  scroll-snap-type: y mandatory; /* Ativa o scroll snap vertical */
  overflow-y: scroll;
  height: 100vh; /* Altura total da viewport */
  scroll-behavior: smooth; /* Rolagem suave */
}
/*
section {
  scroll-snap-align: start; /* Seções alinham-se ao início da tela */
/* height: 100vh; /* Cada seção ocupa a tela inteira */
/* padding: 50px;
  display: flex;*/
/*justify-content: space-between; /* Título à esquerda e texto à direita */
/*align-items: center;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}*/

section {
  min-height: calc(
    100vh - 100px
  ); /* Reduz a altura da seção para deixar espaço para o rodapé */
  scroll-snap-align: start; /* Seções alinham-se ao início da tela */
  height: 100vh; /* Cada seção ocupa a tela inteira */
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover; /* Faz a imagem cobrir toda a área da section */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  position: relative;
}

/* Exemplo de imagem para cada seção */
#home {
  background-image: url("../images/home2.jpg");
  position: relative; /* Define uma posição relativa para o contêiner */
  background: none; /* Remove qualquer imagem de fundo existente diretamente no elemento */
}

#home::before {
  content: "";
  position: absolute; /* Torna o pseudo-elemento um overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/home2.jpg");
  background-size: cover; /* A imagem cobre todo o contêiner */
  background-position: center; /* Centraliza a imagem de fundo */
  filter: blur(10px); /* Aplica o desfoque */
  z-index: -1; /* Coloca o fundo atrás do conteúdo */
}

#licenses {
  background-image: url("../images/licenses.jpg");
  display: flex; /* Usar flexbox para organizar os cards em linha */
  justify-content: flex-start; /* Alinha os cards à esquerda */
  align-items: center; /* Alinha os cards no topo */
  width: 100%; /* Define a largura total da seção */
  margin: 0 auto; /* Centraliza a seção no meio da tela */
  padding: 20px; /* Adiciona um padding */
  box-sizing: border-box; /* Inclui o padding e a borda na largura total */
  overflow: hidden; /* Oculta qualquer conteúdo que transborde */
  position: relative; /* Define uma posição relativa para o contêiner */
  background: none; /* Remove qualquer imagem de fundo existente diretamente no elemento */
}

#licenses::before {
  content: "";
  position: absolute; /* Torna o pseudo-elemento um overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/licenses.jpg");
  background-size: cover; /* A imagem cobre todo o contêiner */
  background-position: center; /* Centraliza a imagem de fundo */
  filter: blur(10px); /* Aplica o desfoque */
  z-index: -1; /* Coloca o fundo atrás do conteúdo */
}

#licenses .section-text-right {
  position: relative; /* Garante que o conteúdo fique acima do background blur */
  z-index: 1; /* Coloca o conteúdo acima da camada borrada */
}

#licenses .card {
  flex: 1 1 30%; /* Flex-grow, flex-shrink e flex-basis, permitindo que os cards ocupem 30% da largura do contêiner */
  margin: 0 10px; /* Margem lateral para espaçamento entre os cards */
  padding: 20px;
  border: 1px solid #ddd; /* Borda do card */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1); /* Sombra do card */
  background-color: white; /* Fundo branco */
  min-width: 200px;
  min-height: 330px;
  transition: transform 0.4s;
  opacity: 0.7;
}

#card1:hover {
  color: #3798ff;
  opacity: 1;
}

#card2:hover {
  color: #ff0000;
  opacity: 1;
}

#card3:hover {
  color: green;
  opacity: 1;
}

#licenses .section-text-right {
  display: flex; /* Utiliza flexbox para exibir os cards em linha */
  justify-content: flex-start; /* Alinha os cards à esquerda */
  align-items: flex-start; /* Alinha os cards no topo */
  flex-wrap: nowrap; /* Permite que os cards se movam para a próxima linha se não houver espaço */
  margin-top: 20px; /* Espaçamento acima da seção de cards */
}

#about {
  background-image: url("../images/about.jpg");
  position: relative; /* Define uma posição relativa para o contêiner */
  background: none; /* Remove qualquer imagem de fundo existente diretamente no elemento */
}

#about::before {
  content: "";
  position: absolute; /* Torna o pseudo-elemento um overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/about.jpg");
  background-size: cover; /* A imagem cobre todo o contêiner */
  background-position: center; /* Centraliza a imagem de fundo */
  filter: blur(10px); /* Aplica o desfoque */
  z-index: -1; /* Coloca o fundo atrás do conteúdo */
}

#projects {
  background-image: url("../images/projects.png");
  position: relative; /* Define uma posição relativa para o contêiner */
  background: none; /* Remove qualquer imagem de fundo existente diretamente no elemento */
}

#projects::before {
  content: "";
  position: absolute; /* Torna o pseudo-elemento um overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/projects.png");
  background-size: cover; /* A imagem cobre todo o contêiner */
  background-position: center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat;
  filter: blur(5px); /* Aplica o desfoque */
  z-index: -1; /* Coloca o fundo atrás do conteúdo */
  margin: 0; /* Garante que não há margens */
  padding: 0; /* Remove padding */
}

#contact {
  background-image: url("../images/contact2.png");
  display: flex; /* Flexbox para alinhamento */
  justify-content: space-between; /* Espaça os elementos */
  padding: 50px; /* Espaçamento interno */
  background-color: #f9f9f9; /* Fundo claro */
  position: relative; /* Define uma posição relativa para o contêiner */
  background: none; /* Remove qualquer imagem de fundo existente diretamente no elemento */
}

#contact::before {
  content: "";
  position: absolute; /* Torna o pseudo-elemento um overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/contact2.png");
  background-size: cover; /* A imagem cobre todo o contêiner */
  background-position: center; /* Centraliza a imagem de fundo */
  filter: blur(10px); /* Aplica o desfoque */
  z-index: -1; /* Coloca o fundo atrás do conteúdo */
}

section:nth-child(odd) {
  background-color: #e0e0e0;
}

/* Estilo para o título de cada seção no lado esquerdo */
.section-title {
  width: 50%; /* Define largura máxima para o título */
  font-size: 25px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-right: 20px;
}

.section-white {
  width: 50%; /* Define largura máxima para o título */
  font-size: 25px;
  font-weight: bold;
  color: #e0e0e0;
  text-align: left;
  margin-right: 20px;
}

/* Estilo do título da seção */
.section-white h1 {
  font-size: 36px; /* Tamanho do título */
  color: #d6d6d6; /* Cor do texto */
  margin-bottom: 10px; /* Margem inferior */
}

/* Estilo do texto da seção */
.section-white p {
  font-size: 18px; /* Tamanho do texto */
  color: #d6d6d6; /* Cor do texto */
}

/* Estilo para o texto de cada seção no lado direito */
.section-text-right {
  width: 40%; /* Garante que texto não ultrapasse esta área */
  text-align: justify;
  font-size: 16px;
  color: #666;
  max-width: 300px;
  margin-left: 20px;
}

.contacts {
  color: rgb(211, 211, 211);
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  list-style: none; /* Remove marcadores da lista */
  padding: 0; /* Remove espaçamento padrão */
}

.contacts li {
  margin: 10px 0; /* Margem entre os itens */
}

/* Estilo dos links */
.contacts a {
  color: #007bff; /* Cor azul para os links */
  text-decoration: none; /* Remove sublinhado */
}

.contacts a:hover {
  text-decoration: underline; /* Sublinha ao passar o mouse */
  color: #0056b3; /* Cor mais escura ao passar o mouse */
}

/* Estilo do ícone flutuante */
.scroll-to-top {
  position: fixed;
  bottom: 20px; /* Distância do fundo */
  right: 20px; /* Distância da direita */
  background-color: #333; /* Fundo do ícone */
  color: white; /* Cor da seta */
  font-size: 24px; /* Tamanho do ícone */
  width: 40px; /* Largura do ícone */
  height: 40px; /* Altura do ícone */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Ícone redondo */
  text-decoration: none; /* Remove sublinhado */
  transition: background-color 0.3s; /* Transição suave para o fundo */
}

.scroll-to-top:hover {
  background-color: #ffcc00; /* Cor de fundo ao passar o mouse */
}

/* Estilo do cartão */
.card {
  background-color: #fdfdfd; /* Fundo branco */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
  padding: 20px; /* Espaçamento interno */
  margin-left: 20px; /* Margem à esquerda */
  max-width: 300px; /* Largura máxima do cartão */
  transition: transform 0.3s; /* Transição suave para o efeito de hover */
}

.card + .card {
  margin-top: 20px; /* Aumenta a margem entre os cartões */
}

/* Efeito de hover no cartão */
.card:hover {
  transform: translateY(-5px); /* Leve elevação ao passar o mouse */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  /* .navbar {
    flex-direction: column;
  } */

  /* Esconder a navbar em telas menores */
  .navbar {
    display: none;
    flex-direction: column; /* Exibir itens em coluna no mobile */
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #3498db;
    padding: 10px;
    border-radius: 8px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .nav-links a {
    margin: 10px 0;
  }

  /* Exibir o ícone de três barras (hamburger) */
  .hamburger {
    display: block;
  }

  /* Quando o menu é exibido */
  .navbar.active {
    display: flex;
  }

  /* Ajuste do layout para telas pequenas */
  section {
    flex-direction: column; /* Empilha o título e o texto verticalmente */
    align-items: flex-start;
  }

  .section-title,
  .section-text-right {
    width: 100%; /* Ambos ocupam a largura total */
    text-align: left; /* Texto alinhado à esquerda para ambos */
  }

  .section-title {
    text-align: center;
  }

  #contact {
    flex-direction: column; /* Alinha elementos em coluna em telas pequenas */
    align-items: flex-start; /* Alinha à esquerda */
  }

  .section-text-right {
    width: 100%; /* Largura total em dispositivos móveis */
  }

  #licenses .card {
    flex: 0 0 100%; /* Cada card ocupa 100% em telas pequenas */
    margin: 10px 0; /* Margem em cima e embaixo */
  }

  #licenses .section-text-right {
    display: flex;
    flex-direction: column; /* Define a direção como coluna para empilhar os cards */
    justify-content: flex-start; /* Alinha os cards ao início (topo) */
    align-items: center; /* Alinha os cards à esquerda */
    margin-top: 20px; /* Espaçamento acima da seção de cards */
  }

  #licenses .card {
    flex: 1 1 30%; /* Flex-grow, flex-shrink e flex-basis, permitindo que os cards ocupem 30% da largura do contêiner */
    margin: 10px 10px; /* Margem lateral para espaçamento entre os cards */
    padding: 20px;
    border: 1px solid #ddd; /* Borda do card */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1); /* Sombra do card */
    background-color: white; /* Fundo branco */
    min-width: 200px;
    min-height: 220px;
    max-height: 220px;
    transition: transform 0.4s;
    opacity: 0.7;
  }

  .section-white {
    width: 100%; /* Define largura máxima para o título */
    font-size: 25px;
    font-weight: bold;
    color: #e0e0e0;
    text-align: center;
    margin-right: 20px;
  }

  .card {
    background-color: #fdfdfd; /* Fundo branco */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.8); /* Sombra suave */
    padding: 20px; /* Espaçamento interno */
    max-width: 300px; /* Largura máxima do cartão */
    transition: transform 0.3s; /* Transição suave para o efeito de hover */
    margin-bottom: 100px;
  }
}
